main{
    display: grid;
    grid-template-columns: auto 90vw auto;
    margin-top: 80px;
}

section{
    margin-top: 50px;
}

.btn-login{
    padding: 12px 30px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

.btn-login a{
    text-decoration: none;
    color: var(--cor-terciaria);
    font-size: 1rem;
    font-weight: 500;
}

.btn-login:hover {
    background-color: rgba(128, 128, 128, 0.336);
    transform: translateY(-1px);
}

.btn-singup{
    padding: 12px 40px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    background-color: var(--cor-primaria);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-singup a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.btn-singup:hover {
    background-color: var(--cor-secundario);
    transform: translateY(-1px);
}

.btn-comecar-gratis{
    padding: 15px 10px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    background-color: var(--cor-primaria);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-comecar-gratis a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}

.btn-comecar-gratis:hover{
    background-color: var(--cor-secundario);
    transform: translateY(-1px);
}

.btn-ver-produto{
    padding: 15px 10px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.336);
    background-color: transparent;
    transition: border 0.2s ease-in-out, transform 0.2s ease;
}

.btn-ver-produto a{
    text-decoration: none;
    color: var(--cor-terciaria);
    font-size: 0.8rem;
    font-weight: bold;
}

.btn-ver-produto:hover {
    border: 1px solid white;
    transform: translateY(-1px);
}
