main{
    display: grid;
    grid-template-columns: auto 90vw auto;
    margin-top: 80px;
}

section{
    margin-top: 50px;
}

.btn-primary{
    padding: 10px 9px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    background-color: var(--cor-primaria);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-primary a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: var(--cor-secundario);
    transform: translateY(-1px);
}

.btn-secondary{
    padding: 12px 10px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.336);
    background-color: transparent;
    transition: border 0.2s ease-in-out, transform 0.2s ease;
}

.btn-secondary a{
    text-decoration: none;
    color: var(--cor-terciaria);
    font-size: 0.8rem;
    font-weight: bold;
}

.btn-secondary:hover {
    border: 1px solid white;
    transform: translateY(-1px);
}

@media screen and (min-width: 768px){
    .btn-secondary{
        padding: 15px 20px;
    }

    .btn-primary{
        padding: 15px 40px;
    }
}