/*About*/

/*About Intro*/
.about-intro {
  grid-column: 2;
  padding: 10px;
  text-align: center;
}

.about-intro__label{
  color:var(--cor-primaria);
  font-weight: bold;
}

.about-intro__title{
  font-size: 2.3rem;
  color: var(--cor-secundario);
}

.about-intro__text{
  color: var(--cor-terciaria);
  font-size: 1rem;
}

/*METRICA*/

#metrica{
  width: 100%;
  grid-column: 2;
  padding: 20px;
}

#metrica-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.metrica__item{
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(128, 128, 128, 0.314);
  border-radius: 8px;
  padding: 10px;
  transition: border 0.3s, transform 0.3s, box-shadow 0.6s;
}

.metrica__item:hover{
  transform: translateX(12px);
  border: 2px solid var(--cor-primaria);
  box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
}

.metrica__number{
  color: var(--cor-primaria);
  font-size: 2.6rem;
  font-weight: bold;
}

.metrica__title{
  color: var(--cor-secundario);
  font-weight: 600;
  font-size: 1.2rem;
}

.metrica__description{
  color: var(--cor-terciaria);
  font-size: 0.9rem;
  
}

/*VAGAS*/
#vagas{
  display: grid;
  grid-column: 2;
  padding: 10px 0;
}

#talentos{
  width: 100%;
  text-align: center;
}

.talento__label{
  color: var(--cor-primaria);
  font-weight: bold;
}

.talento__title{
  color: var(--cor-secundario);
  font-size: 2.3rem;
}

.talento__text{
  color: var(--cor-terciaria);
  font-size: 1rem;
}

#talentos img{
  width: 100%;
  padding-top: 30px;
}

/*VAGAS ABERTAS*/

#vagas-abertas{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.areas-vagas{
  display: grid;
  background-color: rgba(128, 128, 128, 0.405);
  padding: 20px;
  gap: 20px;
  border-radius: 9px;
}

.area-vagas__title{
  color: var(--cor-secundario);
  font-size: 1.5rem;
  font-weight: bold;
}

.vagas-item{
  padding: 15px;
  border-radius: 9px;
  background-color: rgb(244, 244, 244);
  box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.1);
  transition: background-color 0.2s, transform 0.3s, box-shadow ;
}

.vagas-item:hover{
  background-color: rgb(228, 226, 226);
  transform: translateY(-2px);
}

.vagas__nome{
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}

.vagas__description{
  color: var(--cor-terciaria);
  font-size: 0.9rem;
}